<div class="min-h-screen bg-grey-50 pl-60 pb-20">
  <!-- <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
    <div class="flex items-center justify-center h-20 shadow-md">
      <h1 class="text-3xl uppercase text-indigo-500">My Library</h1>
    </div>
    <ul class="flex flex-col py-4">
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bxs-book'></i></span>
          <span class="text-sm font-medium">All my content</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bxs-pencil'></i></span>
          <span class="text-sm font-medium">Created by me</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bx-border-radius'></i></span>
          <span class="text-sm font-medium">Previously used</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bxs-like'></i></span>
          <span class="text-sm font-medium">Liked by me</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-chat"></i></span>
          <span class="text-sm font-medium">Shared by me</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class='bx bx-book-content'></i></span>
          <span class="text-sm font-medium">Drafts</span>
        </a>
      </li>
     
    </ul>
  </div> -->

  <div
    class="h-96 w-96 bg-[url('https://file.forms.app/sitefile/how-to-create-an-online-quiz-with-formsapp-cover.jpg')]"
  ></div>
  <div class="flex justify-center items-center">
    <!-- <img src="https://file.forms.app/sitefile/how-to-create-an-online-quiz-with-formsapp-cover.jpg"> -->
    <button pButton type="button" (click)="handleClick($event)">
      <i class="bx bx-edit"></i>
      Create a quiz
    </button>
  </div>
  <p-dialog
    header="{{ Header }}"
    [(visible)]="displayBasic"
    [style]="{ width: '50vw' }"
  >
    <label>Name of Quiz</label><br />
    <input class="h-10 w-96" pInputText [(ngModel)]="nameOfQuiz" required />
    <br /><br />
    <label>Choose relevant subjects</label><br /><br />
    <p-tag class="p-1" *ngFor="let item of items" (click)="onTagSelected(item)">
      {{ item.subject }}
      <i *ngIf="item.selected == true" class="bx bx-check"></i>
      <i *ngIf="item.selected == false" class="bx bx-x"></i>
    </p-tag>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="nextClicked($event)"
        [disabled]="!(nameOfQuiz != '' && subjectList.length > 0)"
        label="Next"
        styleClass="p-button-text"
      >
      </p-button>
    </ng-template>
  </p-dialog>
</div>

<!-- [ngStyle]="{background:item.selected == true? 'success': 'info'}"
  [ngStyle]="{severity=item.selected == true? 'success': 'info'}" -->
