<!-- <div class=" flex justify-center items-center"> -->
<!-- Quiz Modal -->
<div class="headingLayout">Enter Your Question and Options</div>

<div class="questionLayout">
    <textarea class="my-16 textarealayout" pInputTextarea [(ngModel)]="quizQuestion"></textarea>

</div>


<div class="row inline-flex pl-[180px]">

    <p-card class="column mx-8 mt-0 " (click)="optionSelected($event)">

        <span class="place-content-center ">
            <textarea class="textboxLayout" placeholder="Enter Option " pInputTextarea [(ngModel)]="quizQuestion">
                    </textarea>
        </span>
        <div class="flex justify-center">
            <p-radioButton name="groupname" value="one" [(ngModel)]="selectedValue"></p-radioButton>
        </div>
    </p-card>
    <p-card class="column mx-8 mt-0 " (click)="optionSelected($event)">

        <span class="place-content-center ">
            <textarea class="textboxLayout" placeholder="Enter Option " pInputTextarea [(ngModel)]="quizQuestion">
                        </textarea>
        </span>
        <div class="flex justify-center">
            <p-radioButton name="groupname" value="one" [(ngModel)]="selectedValue"></p-radioButton>
        </div>
    </p-card>
    <p-card class="column mx-8 mt-0 " (click)="optionSelected($event)">

        <span class="place-content-center ">
            <textarea class="textboxLayout" placeholder="Enter Option " pInputTextarea [(ngModel)]="quizQuestion">
                        </textarea>
        </span>
        <div class="flex justify-center">
            <p-radioButton name="groupname" value="one" [(ngModel)]="selectedValue"></p-radioButton>
        </div>
    </p-card>
    <p-card class="column mx-8 mt-0 " (click)="optionSelected($event)">

        <span class="place-content-center ">
            <textarea class="textboxLayout" placeholder="Enter Option " pInputTextarea [(ngModel)]="quizQuestion">
                        </textarea>
        </span>
        <div class="flex justify-center">
            <p-radioButton name="groupname" value="one" [(ngModel)]="selectedValue"></p-radioButton>
        </div>
    </p-card>
</div>
<div class="buttonLayout">
    <p-button class="float-right" label="Save"></p-button>
</div>




<!-- </div> -->


<!-- 
[ngClass]="{'cardColorBlue': !item.isSelected,'cardColorGreen': item.isSelected}" -->