<div class=" items-center">
    <div class=" flex justify-center">
        QUIZ DASHBOARD
    </div>
    <div class="p-10">
        <ng-container>
            <p-panel class="m-10">
                <ng-template pTemplate="header" class="float-right">
                    <div class="float-right">
                        <i class="pi pi-pencil float-right"></i>&nbsp;
                        <i class="pi pi-trash float-right"></i>
                    </div>
                </ng-template>
                Body Content
                <ng-template pTemplate="footer">
                    Footer content here
                </ng-template>
            </p-panel>

        </ng-container>
    </div>
</div>